body {
    font-family:'Courier New', Courier, monospace;
    background-color: #f4f4f4;
    color: #1c1e21;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    max-width: 600px;
    width: 100%;
}

.section {
    background-color: #ffffff;
    border: 1px solid #dddfe2;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#logo {
    display: block;
    width: 200px;
    height: auto;
    margin: 0 auto 20px auto;
}

a {
    color: #0866ff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #002752;
    text-decoration: underline;
}